*{
  padding:0;
  margin: 0;
}
body{
  width: 100vw;
  height:100vh;
  background-color: rgb(225, 228, 234);
  text-align: center;
}
h1{
  margin:40px 0 0 0;
  font-size: 50px;
  color:rgb(32, 15, 107)
}

article{
  background-color:white ;
  width: 50%;
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: 100px;
  box-shadow: 3px 3px 3px 3px rgb(191, 190, 190);
  font-size: 1.2em;

}
img {
  margin : 20px;
  width :90%;
  height: 90%;
  border-radius: 200px;
}

.btn-container .left{
  padding :10px;
  background-color: transparent;
  font-weight: 800;
  margin:10px;
}
.name{
  font-size: 25px;
  font-weight: 800;
}
.btn-container .right{
  background-color: transparent;
  padding :10px;
  font-weight: 800;
}